<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <h1>More Info</h1>
    <p>i study Networking in university. and here are some technologies i know:</p>
    <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>Go</li>
        <li>C++</li>
        <li>Java</li>
    </ul>
    <p>My goal is to learn more skills that will help me secure a stable job; aswell as learning stuff to overall
        improve my knowledge.</p>
    <a href="/">Go back</a>
</body>

</html>